*{
    background-color:#062F4F;
    color: white;
    font-family: 'Roboto', 'Be Vietnam Pro', 'Poppins', sans-serif;
}

#title{
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding:0;
    margin:0;

}
h1{
    padding: 0;
    margin:0;
}

.container{
    margin: auto;
    display:grid;
    /* display: flex; */
    background-color: white;
    
    /* flex-wrap: wrap;
    justify-content: space-between; */
    height: 70vh;
    width: 80vw;
    border-radius: 10px;
}

#controller-container{
    margin:auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: block;
    position: relative;
    background-color: #B82601;
    align-items: center;
    height: 10vh;
    width: 70vw;
    border-radius: 10px;
}

.controller{
    margin:auto;
    padding:13px 30px 13px 30px;
    background-color: #B82601;
    border-style: solid;
    border-color: white;
    color: white;
    position: absolute;
    top: 1.25vh;
    left: 85%;
    font-size:1.3em;
    border-radius: 10px;
    border-bottom:
}

.controller:hover{
    background-color: black;
    color:white;
}

#footer{
    display: block;
    text-align: center;
    font-size: 1em;
    margin:0;
    padding:0;
}

.grid-element{
    flex:1;
    border-style: solid;
    border-color: white;
    border-width: 0.001px;

}

.grid-element:hover{
    background-color: white;
}